<html lang="en"  xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{client/layout}">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Location - Tropical Favorites
  </title>

  <style>
   body {
            font-family: 'Roboto', sans-serif;
        }
        .header-title {
            font-family: 'Pacifico', cursive;
        }
  </style>
 </head>
 <body>
    <div layout:fragment="main-content">
  <section class="bg-light py-5">
   <div class="container text-center">
    <h1 class="header-title text-info">
     Our Locations
    </h1>
    <p class="mt-4 text-muted">
     Find us at any of our tropical paradise locations!
    </p>
    <div class="row mt-5">
     <div class="col-md-4 mb-4">
      <div class="card">
       <img alt="Location 1" class="card-img-top" height="200" src="https://storage.googleapis.com/a1aa/image/8AuIgL8CmFKnYRrky5R646PNAUE7RagayS-4gzu1PS4.jpg" width="300"/>
       <div class="card-body">
        <h5 class="card-title">
         Location 1
        </h5>
        <p class="card-text">
         123 Tropical St, Paradise City
        </p>
       </div>
      </div>
     </div>
     <div class="col-md-4 mb-4">
      <div class="card">
       <img alt="Location 2" class="card-img-top" height="200" src="https://storage.googleapis.com/a1aa/image/G2pdrVfh1jJwHja6B7i4cNQMe4qTLlZHazyf5zECFg8.jpg" width="300"/>
       <div class="card-body">
        <h5 class="card-title">
         Location 2
        </h5>
        <p class="card-text">
         456 Beach Ave, Sunny Town
        </p>
       </div>
      </div>
     </div>
     <div class="col-md-4 mb-4">
      <div class="card">
       <img alt="Location 3" class="card-img-top" height="200" src="https://storage.googleapis.com/a1aa/image/vBqMTmsEsvmHGKA__venJidm_E9CjEzKDs919O_LWkw.jpg" width="300"/>
       <div class="card-body">
        <h5 class="card-title">
         Location 3
        </h5>
        <p class="card-text">
         789 Island Rd, Ocean View
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
</div>
 
 </body>
</html>
